.accordion {
  
  .accordion-heading {
    border-top: 1px solid @vb-blue;
  }

  .accordion-trigger {
    width: 100%;
    padding: @spacer 0;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      transition: transform .15s ease-in-out;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 20px;
      background-color: @vb-blue;
      transform: rotate(90deg);
      right: 20px;
      top: 50%;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 20px;
      right: 20px;
      top: 50%;
      background-color: @vb-blue;
    }

    &.active {

      &:before {
        transform: rotate(0deg);
      }
    }
  }

  a {
    font-weight: @font-weight-bold;
    font-size: ceil(@font-size-base * 1.1);
    text-decoration: none;
  }

  .accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    &:nth-last-child(1) {
      border-bottom: 1px solid @vb-blue;
    }
  }

  &.dark-theme {

    .accordion-heading {
      border-color: @white;

      .accordion-trigger {

        a {
          color: @white;
        }
        
        &:before,
        &:after {
          background-color: @white;
        }
      }
    } 

    .accordion-panel > * {
      color: @white;
    }
  }
}