.blog-index {
  padding-top: @spacer * 4;
  padding-bottom: @spacer * 2;

  .blog-index-item {
    margin-bottom: @spacer * 4;
  }

  .blog-index-item-image img {
    width: 100%;
  }
  .blog-title {
    font-family: @headings-font-family;
    font-size: @font-size-base * 1.75;
    line-height: @headings-line-height;
    margin-bottom: @spacer * 1.1;
    margin-top: @spacer;
    display: block;
  }

  .blog-category {
    text-transform: uppercase;
    font-family: @font-family-medium;
    color: @vb-blue;
  }

  .blog-read-more-link {
    padding-right: 20px;

    svg {
      width: 22px;
    }
  }

  .blog-index-pagination {
    .pagination-numbers {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      padding-top: @spacer * 3 ;
      text-align: center;
      
      li {
        display: inline-block;
        margin-left: @spacer;
        margin-right: @spacer;
      }

      a {
        transition: all .25s linear;

        &.page-number {
          border: 1px solid transparent;
          border-radius: 50%;
          display: block;
          line-height: 40px;
          height: 40px;
          width: 40px;
          text-align: center;

          &:hover {
            background-color: @vb-blue;
            border-color: @vb-blue;
            color: @white;
          }
        }

        &.active {
          border-color: @vb-blue;
        }

        &.previous-btn svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
}