.btn {
  width: auto;
  display: inline-block;
  padding: .75rem 1.25rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all .25s linear;
  text-decoration: none;
  background-color: transparent;
  min-width: 140px;
  text-align: center;

  &.primary {
    border-color: @vb-blue;
    color: @vb-blue;

    &:hover {
      background-color: @vb-blue;
      border-color: @vb-blue;
      color: @white;
      box-shadow: 0px 5px 10px 2px rgba(0,0,0,.25);
    }
  }

  &.secondary {
    border-color: @vb-black;
    background-color: @vb-black;
    color: @white;

    &:hover {
      background-color: @vb-blue;
      color: @white;
      border-color: @vb-blue;
    }
  }

  &.reversed {
    border-color: @white;
    color: @white;

    &:hover {
      background-color: @white;
      border-color: @white;
      color: @vb-blue;
    }
  }
}