.content-card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @vb-white;

  .content-card-content {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-card-heading {
    text-align: center;
  }
  
  .content-card-text {
    text-align: center;
    color: @vb-blue;
  }

  .content-card-cta {
    border: 1px solid @vb-blue;
    color: @vb-blue;

    &:hover {
      border-color: @vb-blue;
      background-color: @vb-blue;
      color: @white;
      box-shadow: 0px 5px 10px 2px rgba(0,0,0,.25);
    }
  }

  &.dark-theme {
    &:not(.image-bg) {
      background: linear-gradient(to right, @vb-gradient-end, @vb-gradient-start);
    }
    
    .content-card-heading {
      color: @white;
    }

    .content-card-text {
      color: @white;
    }

    .content-card-cta {
      border-color: @white;
      color: @white;
      background-color: transparent;

      &:hover {
        border-color: @white;
        background-color: @white;
        color: @vb-blue;
      }
    }
  }

  &.image-bg {
    background-size: cover;
    background-position: center center;
  }
}
