.employee-profile {
  padding-top: @spacer * 2;
  padding-bottom: @spacer * 2;

  .row {
    align-items: center;
  }

  .employee-profile-image {
    width: 100%;

    @media (min-width: @grid-breakpoints[md]) {
      max-width: 100%;
      width: auto;
    }
  }

  .employee-profile-heading {
    text-align: center;
    margin-top: @spacer;

    @media (min-width: @grid-breakpoints[md]) {
      text-align: left;
      margin-top: 0;
    }
  }

  .employee-profile-subheading {
    text-align: center;

    @media (min-width: @grid-breakpoints[md]) {
      text-align: left;
    }
  }

  .employee-profile-text {
    display: none;

    @media (min-width: @grid-breakpoints[md]) {
      display: block;
    }
  }
}