@font-face {
  font-family: 'Source Serif Pro Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-oAGIyY0.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Serif Pro Semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSyqxKcsdrM.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Serif Pro Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasc8btSyqxKcsdrM.woff2) format('woff2');
}

@font-face {
  font-family: 'Avenir Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Std 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}