.footer {

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: @spacer * 2 0;
  }

  .footer-nav {
    display: none;

    @media (min-width: @grid-breakpoints[md]) {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      align-self: center;
      justify-self: center;
      display: block;
    }

    li {
      display: inline-block;
    }

    a {
      color: @vb-blue;
      min-width: auto;
    }
  }

  .social-links {
    align-self: center;

    .btn {
      min-width: auto;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: @vb-blue;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    padding: @spacer 0;
    border-top: 1px solid @mid-gray;
    
    & > span {
      font-size: ceil(@font-size-base * .85);
    }
  }

  .address {
    display: none;

    @media (min-width: @grid-breakpoints[md]) {
      display: block;
    }
  }
}