.container {
  .container-fixed();

  @media (min-width: @grid-breakpoints[sm]) {
    width: @container-max-widths[sm];
  }
  @media (min-width: @grid-breakpoints[md]) {
    width: @container-max-widths[md];
  }
  @media (min-width: @grid-breakpoints[lg]) {
    width: @container-max-widths[lg];
  }
  @media (min-width: @grid-breakpoints[xl]) {
    width: @container-max-widths[xl];
  }
}

.container-fluid {
  .container-fixed();
}

.row {
  .make-row();
}

.make-grid-columns();

.make-grid(xs);

@media (min-width: @grid-breakpoints[sm]) {
  .make-grid(sm);
}

@media (min-width: @grid-breakpoints[md]) {
  .make-grid(md);
}

@media (min-width: @grid-breakpoints[lg]) {
  .make-grid(lg);
}

@media (min-width: @grid-breakpoints[xl]) {
  .make-grid(xl);
}