.nav {
  padding: @spacer * .75 0;
  position: fixed;
  z-index: 10;
  width: 100%;

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-toggle-container {
    position: relative;
    width: 30px;
    height: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    order: 1;
    z-index: 9;
    min-width: auto;

    @media (min-width: @grid-breakpoints[md]) {
      display: none;
    }

    .nav-toggle-inner {
      width: 30px;
      height: 3px;
      background-color: @white;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      position: absolute;

      &:before {
        content: '';
        height: 3px;
        width: 30px;
        background-color: @white;
        position: absolute;
        top: -10px;
        left: 0;
        transition: top 75ms ease .12s, opacity 75ms ease;
      }

      &:after {
        content: '';
        height: 3px;
        width: 30px;
        background-color: @white;
        position: absolute;
        bottom: -10px;
        left: 0;
        transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
      }
    }

    &.open {
      .nav-toggle-inner {
        transition-delay: .15s;
        transform: rotate(45deg);
        background-color: @white;
          
        &:before {
          top: 0;
          transition: top 75ms ease, opacity 75ms ease .12s;
          opacity: 0;
        }

        &:after {
          background-color: @white;
          transform: rotate(-90deg);
          bottom: 0;
          transition: buttom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
        }
      } 
    }
  }

  .nav-menu {
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 74px;
    height: 100vh;
    background-color: @vb-blue;
    z-index: 8;
    transition: width .25s ease-in-out;

    @media (min-width: @grid-breakpoints[md]){
      display: flex;
      justify-content: space-between;
      align-content: flex-end;
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      width: auto;
      height: auto;
      position: initial;
      order: 2;
      padding-top: 0;
      background-color: transparent;
    }

    &.open {
      width: 300px;
    }
  }

  .nav-links-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      white-space: nowrap;

      @media (min-width: @grid-breakpoints[md]) {
        display: inline-block;
      }
    }
  }

  .nav-link {
    text-decoration: none;
    padding: .75rem 1.25rem;
    text-transform: uppercase;
    color: @white;
    transition: all .25s linear;
    display: block;

    @media (min-width: @grid-breakpoints[md]) {
      color: fade(@white, 50%);
    }

    &:hover {
      color: @white;
    }

    &.active {
      color: @white;
    }
  }

  .logo {
    order: 2;
    margin: 0 auto;

    @media (min-width: @grid-breakpoints[md]) {
      order: 1;
      margin: 0;
    }
  }

  .letter-brand {
    color: @white;
  }

  .login-btn {
    order: 3;
    border-color: @white;
    color: @white;
    margin-left: 1.25rem;
    margin-top: @spacer;

    @media (min-width: @grid-breakpoints[md]) {
      border-color: @white;
      color: @white;
      margin-top: 0;
    }

    &:hover {
      background-color: @white;
      border-color: @white;
      color: @vb-blue;
    }
  }

  .social-links {

    @media (min-width: @grid-breakpoints[md]) {
      display: none;
    }

    .btn {
      min-width: auto;
    }

    svg {
      height: 30px;
      width: 30px;
      fill: @white;
    }

  } 

  .fix-nav & {
    background-color: rgba(255, 255, 255, .85);

    .letter-brand {
      color: @vb-blue;
    }

    .nav-toggle-inner {
      background-color: @vb-blue;
      &:before,
      &:after {
        background-color: @vb-blue;
      }
    }

    @media (min-width: @grid-breakpoints[md]) {
      .nav-link {
        color: @vb-blue;
  
        &:hover {
          color: @vb-blue;
        }
  
        &.active {
          color: @vb-blue;
        }
      }
  
      .login-btn {
        color: @vb-blue;
        border-color: @vb-blue;
  
        &:hover {
          background-color: @vb-blue;
          border-color: @vb-blue;
          color: @white;
        }
      }
    }
  }

  .home & {

    .letter-brand {
      color: @vb-blue;
    }

    .nav-toggle-inner {
      background-color: @vb-blue;
      &:before,
      &:after {
        background-color: @vb-blue;
      }
    }

    @media (min-width: @grid-breakpoints[md]) {
      .nav-link {
        color: @vb-black;
  
        &:hover {
          color: @vb-blue;
        }
  
        &.active {
          color: @vb-blue;
        }
      }

      .login-btn {
        color: @vb-blue;
        border-color: @vb-blue;
  
        &:hover {
          background-color: @vb-blue;
          border-color: @vb-blue;
          color: @white;
        }
      }
    }
  }
}