.page-header {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  .container {
    display: flex;
    align-items: center;

    @media (min-width: @grid-breakpoints[md]) {
      min-height: 530px;
    }
  }

  .page-main-heading {
    margin-bottom: @spacer * 2;
  }

  &.background-cover {
    background-size: cover;
  }

  .page-header-content {
    padding-top: 74px;

    .btn {
      width: 100%;
      margin-bottom: @spacer;

      @media (min-width: @grid-breakpoints[md]) {
        width: auto;
        margin-bottom: 0;
        margin-right: @spacer;
      } 
    }
  }

  @media (min-width: @grid-breakpoints[md]) {
    &.half-content-width {
      .page-header-content {
        width: 50%;
      }
    }
  
    &.two-thirds-content-width {
      .page-header-content {
        width: 66%;
      }
    }
  }

  &.text-bottom {

    .page-header-content {

      @media (min-width: @grid-breakpoints[md]) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: @spacer 0;
        background-color: fade(@vb-blue, 45%);
      }
    }

    .page-main-heading {
      text-align: center;

      @media (min-width: @grid-breakpoints[md]) {
        max-width: 1140px;
        margin: 0 auto;
      }
    }
  }

  &.dark-theme {
    &:not(.image-bg) {
      background-color: @vb-blue;
    }

    .page-main-heading {
      color: @white;
    }
  }

  .home & {
    .page-header-content{
      padding-bottom: 2rem;
      padding-top: 0;
    }
  }
}