.split-section {
  background-color: @vb-white;

  @media (min-width: @grid-breakpoints[md]) {
    padding-top: @spacer * 8;
    padding-bottom: @spacer * 8;
  }

  .split-section-content {
    display: flex;
    flex-direction: column;
    margin-top: @spacer;

    @media (min-width: @grid-breakpoints[md]) {
      margin-right: 8.33333333%;
      margin-top: 0;
    }
  }

  .split-section-content > *:not(.btn) {
    color: @vb-blue;
  }

  .split-section-image {
    max-width: 100%;
    margin-bottom: @spacer;

    @media (min-width: @grid-breakpoints[md]) {
      margin-bottom: 0;
    }
  }

  .split-section-cta {
    border-color: @vb-blue;
    color: @vb-blue;
    align-self: flex-start;
    margin-top: @spacer;
    margin-bottom: @spacer;
    width: 100%;
    background-color: transparent;

    @media (min-width: @grid-breakpoints[md]) {
      margin-top: auto;
      margin-bottom: 0;
      width: auto;
    }

    &:hover {
      border-color: @vb-blue;
      background-color: @vb-blue;
      color: @white;
      box-shadow: 0px 5px 10px 2px rgba(0,0,0,.25);
    }
  }

  &.content-right {
    .split-section-content {
      order: 2;

      @media (min-width: @grid-breakpoints[md]) {
        margin-left: 8.33333333%;
        margin-right: 0;
      }
    }
    
    .split-section-image {
      order: 1;
    }
  }

  &.dark-theme {
    background: linear-gradient(to right, @vb-gradient-end, @vb-gradient-start);

    .split-section-content > *:not(.btn) {
      color: @white;
    }

    .split-section-cta {
      border-color: @white;
      background-color: transparent;
      color: @white;

      &:hover {
        border-color: @white;
        background-color: @white;
        color: @vb-blue;
      }
    }
  }
}