.tabs {
  .tabs-nav {
    list-style: none;
    padding-left: 0;
    
    @media (min-width: @grid-breakpoints[md]) {
      display: flex;
    }

    li {
      display: inline-block;
      margin-bottom: @spacer;
      margin-right: @spacer;

      &:last-of-type {
        margin-right: 0;
      }

      @media (min-width: @grid-breakpoints[md]) {
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 0;
      }
    }

    a {
      font-size: ceil(@font-size-base * 1.1);
      text-transform: uppercase;
      color: @light-gray;
      transition: all .25s linear;

      &:hover {
        color: @vb-blue;
      }

      &.active {
        border-bottom: 3px solid @vb-blue;
        color: @vb-blue;
      }
    }
  } 

  .tabs-content {
    margin-top: @spacer * 2;
  }

  .tabs-panel {
    animation: fadeEffect 1s;
  }
}


@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}