h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @headings-font-family;
  line-height: @headings-line-height;
  color: @vb-blue;
  margin-top: 0;
  margin-bottom: @headings-margin-bottom;
}
h1, .h1 {
  font-size: @h1-font-size;
}
h2, .h2 {
  font-size: @h2-font-size;
}
h3, .h3 {
  font-size: @h3-font-size;
}
h4, .h4 {
  font-size: @h4-font-size;
}
h5, .h5 {
  font-size: @h5-font-size;
}
h6, .h6 {
  font-size: @h6-font-size;
}
small,
.small {
  font-size: @font-size-small;
  font-weight: @font-weight-normal;
}
blockquote,
.blockquote {
  font-size: @h4-font-size;
  font-family: @headings-font-family;
  text-align: center;
  color: @vb-blue;
  padding-top: @spacer * 2;
  padding-bottom: @spacer * 2;
  border-top: 1px solid @vb-gray;
  border-bottom: 1px solid @vb-gray;

  .blockquote-content {
    max-width: 400px;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
}