@import 'utilities/spacing.less';
@import 'utilities/prefix.less';

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}