@spacer:                              1rem;


// Typography
@font-family-base:                    'Avenir Std 45 Book';
@font-family-medium:                  'Avenir Std 65 Medium';
@font-family-heavy:                   'Avenir Std 85 Heavy';
@font-size-base:                      16px;
@font-size-small:                     @font-size-base * .875;
@font-weight-normal:                  400;
@font-weight-bold:                    700;
@font-weight-bolder:                  bolder;
@line-height-base:                    1.5;

@headings-font-family:                'Source Serif Pro Semibold';
@headings-line-height:                1.2;
@headings-margin-bottom:              @spacer / 2;

@paragraph-margin-bottom:             1rem;

@h1-font-size:                        @font-size-base * 2.5;
@h2-font-size:                        @font-size-base * 2;
@h3-font-size:                        @font-size-base * 1.75;
@h4-font-size:                        @font-size-base * 1.5;
@h5-font-size:                        @font-size-base * 1.25;
@h6-font-size:                        @font-size-base;

// Colors
@font-color-base:                     #292929;
@vb-blue:                             #393A7B;
@vb-gray:                             #BCC1D5;
@vb-white:                            #FAFBFF;
@vb-black:                            #2A2D38;
@white:                               #FFFFFF;
@black:                               #000000;
@light-gray:                          #CCCCCC;
@mid-gray:                            #666666;
@dark-gray:                           #333333;
@link-hover-color:                    #63649b;

// Gradient colors
@vb-gradient-start:                   #0D0D3E;
@vb-gradient-end:                       @vb-blue;

//Grid
@grid-breakpoints: {
  xs: 0;
  sm: 576px;
  md: 768px;
  lg: 992px;
  xl: 1200px;
}

@container-max-widths: {
  sm: 540px;
  md: 720px;
  lg: 960px;
  xl: 1140px;
}

@grid-columns:                          12;
@grid-gutter-width:                     30px;

// Spacing
@spacers:                               (@spacer * .25), 
                                        (@spacer * .5), 
                                        @spacer, 
                                        (@spacer * 1.5), 
                                        (@spacer * 3);

// Forms

@label-margin-bottom:                   .5rem;
@form-input-padding:                    @spacer * .75;
