.calc-margin-spacings(@spacings, @index, @type) when (@type = m) and (@index = 0) {
  .mt-0 {
    margin-top: 0 !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .ml-0 {
    margin-left: 0 !important;
  }
  .mr-0 {
    margin-right: 0 !important;
  }
}

.calc-margin-spacings(@spacings, @index, @type) when (@type = m) and (@index > 0) {
  .mt-@{index} {
    margin-top: extract(@spacings, @index) !important;
  }
  .mb-@{index} {
    margin-bottom: extract(@spacings, @index) !important;
  }
  .ml-@{index} {
    margin-left: extract(@spacings, @index) !important;
  }
  .mr-@{index} {
    margin-right: extract(@spacings, @index) !important;
  }
}

.calc-padding-spacings(@spacings, @index, @type) when (@type = p) and (@index = 0) {
  .pt-@{index} {
    padding-top: 0 !important;
  }
  .pb-@{index} {
    padding-bottom: 0 !important;
  }
  .pl-@{index} {
    padding-left: 0 !important;
  }
  .pr-@{index} {
    padding-right: 0 !important;
  }
}

.calc-padding-spacings(@spacings, @index, @type) when (@type = p) and (@index > 0) {
  .pt-@{index} {
    padding-top: extract(@spacings, @index) !important;
  }
  .pb-@{index} {
    padding-bottom: extract(@spacings, @index) !important;
  }
  .pl-@{index} {
    padding-left: extract(@spacings, @index) !important;
  }
  .pr-@{index} {
    padding-right: extract(@spacings, @index) !important;
  }
}

.loop-spacing-options(@spacings, @index, @type) when (@index >= 0) {
  .calc-margin-spacings(@spacings, @index, @type);
  .calc-padding-spacings(@spacings, @index, @type);

  .loop-spacing-options(@spacings, (@index - 1), @type);
}

.loop-spacing-options(@spacers, length(@spacers), m);
.loop-spacing-options(@spacers, length(@spacers), p);

  